<h1 mat-dialog-title>{{ funko?.name ? 'Modification' : 'Creation' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="modifyForm">
    <mat-form-field>
      <input matInput placeholder="name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="number" formControlName="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Collection</mat-label>
      <mat-select formControlName="collection">
        <mat-option *ngFor="let collection of collections" [value]="collection">{{ collection }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-row">
      <input matInput placeholder="picture" formControlName="picture" />
      <!-- <mat-slide-toggle formControlName="toBase64">
        ToBase64
      </mat-slide-toggle> -->
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput placeholder="description" formControlName="description" />
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Rarity</mat-label>
      <mat-select formControlName="rarity" multiple>
        <mat-option *ngFor="let rarity of rarities" [value]="rarity">{{ rarity }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Exclusivity</mat-label>
      <mat-select formControlName="exclusivity" multiple>
        <mat-option *ngFor="let exclusivity of exclusivities" [value]="exclusivity">{{ exclusivity }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle formControlName="owned" style="align-self: center;">
      {{ owned.value ? 'Owned' : 'Wanted' }}
    </mat-slide-toggle>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="">No !</button>
  <button mat-button (click)="close()" cdkFocusInitial [mat-dialog-close]="true">Done</button>
</div>
