:host {
  mat-toolbar {
    display: flex;
    justify-content: space-between;

    &.drop-hover {
      filter: invert(100%);
      border: 6px white dashed;
    }

    .stuck {
      flex-grow: 1;
    }
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
