:host {
  mat-toolbar {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1;

    &.drop-hover {
      filter: invert(100%);
      border: 6px white dashed;
    }

    .stuck {
      flex-grow: 1;
    }
  }

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5vw;
  }
}

@media screen and (max-width: 680px) {
  :host {
    .main {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (min-width: 680px) and (max-width: 920px) {
  :host {
    .main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
  :host {
    .main {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
